<div class="container mt-6">
	<br>
	<h2 align="center">{{titulo}}</h2><br>
	<div class="row">
		nav-bar
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			selector: app-campeon<br>
			<app-campeon>
				Cargando datos para el selector app-campeon
			</app-campeon>
			<br>fin selector: app-campeon
		</div>
			<div class="col-md-6">
				selector: app-aspecto <br>
				<app-aspecto>
					Cargando datos para el selector app-aspecto
				</app-aspecto>
				<br> fin selector: app-aspecto
    </div>
			</div>
		</div>