<div class="container mt-6">
	<br>
	<h2 align="center">{{titulo}}</h2><br>
	<div class="row">
		nav-bar
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			selector: app-campeon<br>
			<app-campeon>
				Cargando datos para el selector app-campeon
			</app-campeon>
			<br>fin selector: app-campeon
		</div>
			<div class="col-md-6">
				selector: app-XX <br>
      Cargando datos para el selector app-XX
				<!--<app-lista-add></app-lista-add>-->
				<br> fin selector: app-XX
    </div>
			</div>
		</div>