<h4 align="center">{{titulo_0}}</h4>
<h2 align="center">{{titulo}}</h2><br>

<h4>Campeon: Aatrox</h4>
<table border="1">
	<thead>
		<tr>
			<th>N°</th>
			<th>Aspecto</th>
			<th>Obtenible?</th>
			<th>Posesión?</th>
			<th>Botin?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Aatrox Luna de Sangre</td>
			<td>No</td>
			<td>No</td>
			<td>No</td>
		</tr>
	</tbody>
</table>

.- Aatrox Justiciero<br>
.- Aatrox Mecha<br>
.- Aatrox Odisea<br>
.- Aatrox Luna de Sangre Edición Prestigiosa<br>
.- Aatrox Cazador Marino<br>
.- Aatrox Victorioso<br>
<h4>Campeon: </h4>
.- Ahri Academia<br>
.- Ahri de Arcadia<br>
.- Ahri Retadora<br>
.- Ahri Dinástica<br>
.- Ahri Bosqueviejo<br>
.- Ahri Raposa de Fuego<br>
.- Ahri K/DA<br>
.- Ahri K/DA ALL OUT<br>
.- Ahri de Medianoche<br>
.- Ahri Estrella del Pop<br>
.- Ahri K/DA Edición Prestigiosa<br>
.- Ahri Flor Espiritual<br>
.- Ahri Guardiana Estelar<br>
<h4>Campeon: </h4>
.- Akali Supercampeona<br>
.- Akali Luna de Sangre<br>
.- Akali Cazadora de Cabezas<br>
.- Akali Infernal<br>
.- Akali K/DA<br>
.- Akali K/DA ALL OUT<br>
.- Enfermera Akali<br>
.- PROYECTO: Akali<br>
.- Akali K/DA Edición Prestigiosa<br>
.- Akali Sashimi<br>
.- Akali Colmillo de Plata<br>
.- Akali Aguijón<br>
.- Akali True Damage<br>
<h4>Campeon: </h4>
.- Alistar Negro<br>
.- Alistar Escarcha Negra<br>
.- Alistar Conquistador<br>
.- Alistar Dorado<br>
.- Alistar Hextech<br>
.- Alistar Infernal<br>
.- Alistar Cuernoslargos<br>
.- Alistar Bestia Lunar<br>
.- Alistar Merodeador<br>
.- Alistar Matador<br>
.- Alistar Vaquita Mu<br>
.- Alistar SKT T1<br>
.- Alistar Leñero<br>
.- Alistar Desencadenado<br>
<h4>Campeon: </h4>
.- Amumu Casi Chambelán<br>
.- Emumu<br>
.- Amumu Hextech<br>
.- Amumu Infernal<br>
.- Amumu Caballerito Andante<br>
.- Faraón Amumu<br>
.- Amumu Príncipe Calabaza<br>
.- Amumu Regalo Reciclado<br>
.- Amumu Robot Triste<br>
.- Amumu Costura del Caos<br>
.- Amumu Fiesta Sorpresa<br>
.- Amumu de Vancouver<br>
<h4>Campeon: </h4>
.- Anivia Ave de Presa<br>
.- Anivia Escarcha Negra<br>
.- Anivia Vuelo Cósmico<br>
.- Anivia Reina del Carnaval<br>
.- Anivia Hextech<br>
.- Anivia Cazadora de Noxus<br>
.- Anivia Arte de Papel<br>
.- Anivia Prehistórica<br>
.- Anivia Espíritu de Equipo<br>
.- Annie en el País de las Maravillas<br>
.- Annieversario<br>
.- Annie FrankenTibbers<br>
.- Annie Fuego Escarchado<br>
.- Annie Gótica<br>
.- Annie Hextech<br>
.- Annie Bestia Lunar<br>
.- Annie Osito Panda<br>
.- Annie Quinceañera<br>
.- Annie Caperucita Roja<br>
.- Annie al Revés<br>
.- Annie Supergaláctica<br>
.- Annie Cariñosita<br>
.- Aphelios Bestia Lunar<br>
.- Aphelios Portador del Anochecer<br>
.- Ashe Amatista<br>
.- Ashe de Campeonato<br>
.- Ashe Reina Cósmica<br>
.- Ashe Hada Dragón<br>
.- Ashe del Fréljord<br>
.- Ashe Buscacorazones<br>
.- Ashe la Forajida<br>
.- Ashe Merodeadora<br>
.- PROYECTO: Ashe<br>
.- Reina Ashe<br>
.- Ashe Bosque de Sherwood<br>
.- Ashe Tribu Woad<br>
.- Aurelion Sol Señor de las Cenizas<br>
.- Aurelion Sol Mecha<br>
.- Aurelion Sol Dragón de la Tormenta<br>
.- Azir Bosqueviejo<br>
.- Azir Galáctico<br>
.- Azir Señor de la Muerte<br>
.- Azir SKT T1<br>
.- Azir Reinos en Guerra<br>
.- AstroBardo<br>
.- Bardo el Bardo<br>
.- Bardo Bosqueviejo<br>
.- Bardo Día Nevado<br>
.- Blitzcrank Subjefe<br>
.- Blitzcrank Boxeador<br>
.- Este no es Blitzcrank<br>
.- Blitzcrank Páralotodo<br>
.- Blitzcrank Lancero Radiante<br>
.- Blitzcrank Lancero Sombrío<br>
.- Blitzcrank Talleres Piltóver<br>
.- Riot Blitzcrank<br>
.- Blitzcrank Oxidado<br>
.- Blitzcrank Costura del Caos<br>
.- Blitzcrank Caldero de Bruja<br>
.- iBlitzcrank<br>
.- Brand Apocalíptico<br>
.- Brand Arco de Luz<br>
.- Brand Subjefe<br>
.- Brand Críonuclear<br>
.- Brand Dragón Eterno<br>
.- Brand Fuego Espiritual<br>
.- Brand Vándalo<br>
.- Zombi Brand<br>
.- Braum Corazón de León<br>
.- Braum Ciudad del Crimen<br>
.- Braum Matadragones<br>
.- El Tigre Braum<br>
.- Braum Santa<br>
.- Braum Soldado de Galleta<br>
.- Caitlyn de Arcadia<br>
.- Caitlyn Guerras Árticas<br>
.- Caitlyn Cazadora de Cabezas<br>
.- Caitlyn Espectro Lunar<br>
.- Oficial Caitlyn<br>
.- Caitlyn Veraniega<br>
.- Caitlyn de Arcadia Edición Prestigiosa<br>
.- Caitlyn Pulso de Fuego<br>
.- Caitlyn Rebelde<br>
.- Caitlyn Safari<br>
.- Sheriff Caitlyn<br>
.- Camille Aquelarre<br>
.- Programa Camille<br>
.- Camille iG<br>
.- Cassiopeia Bandida<br>
.- Cassiopeia Eternum<br>
.- Cassiopeia Colmillo de Jade<br>
.- Cassiopeia Mítica<br>
.- Sirena Cassiopeia<br>
.- Cassiopeia Flor Espiritual<br>
.- Cho'Gath Blindaje Superior<br>
.- Cho'Gath Estrella Oscura<br>
.- Finísimo Caballero Cho'Gath<br>
.- Cho'Gath Jurásico<br>
.- Cho'Gath del Lago Ness<br>
.- Pesadilla Cho'Gath<br>
.- Cho'Gath Prehistórico<br>
.- Cho'Gath Pergaminos Shan Hai<br>
.- Corki de Arcadia<br>
.- Corki Corgi<br>
.- Corki Ala de Dragón<br>
.- Corki Fnatic<br>
.- Enchúlame la Corkinave<br>
.- Corki Trineo de Hielo<br>
.- Corki Barón Rojo<br>
.- Objeto Volador no IdentiCorki<br>
.- Corki MontaUrfs<br>
.- Darius Academia<br>
.- Darius Bioforjado<br>
.- Darius Nova Terrorífica<br>
.- Darius Rey de las Clavadas<br>
.- Darius Rey Divino<br>
.- Darius el Forajido<br>
.- Lord Darius<br>
.- Darius Bestia Lunar<br>
.- Darius Rey Tribal Woad<br>
.- Diana Reina Guerrera<br>
.- Diana Luna de Sangre<br>
.- Diana Valquiria Oscura<br>
.- Diana Aguas Oscuras<br>
.- Diana Matadragones<br>
.- Diana Infernal<br>
.- Diana Diosa Lunar<br>
.- Diana Reina Guerrera Edición Prestigiosa<br>
.- Mundo Ejecutivo<br>
.- El Macho Mundo<br>
.- Mundo Verdugo<br>
.- Mundo Príncipe del Hielo<br>
.- Sr. Mundoverso<br>
.- Mundo Mundo<br>
.- Mundo Veraniego<br>
.- Mundo Nacido de la Ira<br>
.- Mundo TPA<br>
.- Mundo Tóxico<br>
.- Draven Cazador de Bestias<br>
.- Draven Draven<br>
.- Draven Gladiador<br>
.- Draven Reinos Mecha<br>
.- Draven Veraniego<br>
.- Draven Horario Estelar<br>
.- Draven Arruinado<br>
.- Draven Santa<br>
.- Draven Saqueador de Almas<br>
.- Ekko Academia<br>
.- PROYECTO: Ekko<br>
.- Ekko Pulso de Fuego<br>
.- Ekko SKT T1<br>
.- Ekko Tormenta de Arena<br>
.- Ekko Dulce o Truco<br>
.- Ekko True Damage<br>
.- Elise Embrujada<br>
.- Elise Luna de Sangre<br>
.- Elise Pétalo Mortal<br>
.- Elise SKT T1<br>
.- Elise Supergaláctica<br>
.- Elise Victoriosa<br>
.- Evelynn Luna de Sangre<br>
.- Evelynn K/DA<br>
.- Evelynn K/DA ALL OUT<br>
.- Evelynn Enmascarada<br>
.- Evelynn K/DA Edición Prestigiosa<br>
.- Evelynn Rompecerrojos<br>
.- Evelynn de las Sombras<br>
.- Evelynn Chocofresas<br>
.- Evelynn Tanguera<br>
.- Ezreal As de Espadas<br>
.- Ezreal de Arcadia<br>
.- Ezreal Academia de Combate<br>
.- Ezreal Gallardo<br>
.- Ezreal Explorador<br>
.- Ezreal Frío<br>
.- Ezreal de Nottingham<br>
.- Ezreal Pijama Estelar<br>
.- Ezreal PsyOps Edición Prestigiosa<br>
.- Ezreal PsyOps<br>
.- Ezreal Pulso de Fuego<br>
.- Ezreal SSG<br>
.- Ezreal Guardián Estelar<br>
.- Ezreal Goleador<br>
.- Ezreal TPA<br>
.- Fidel Pistolero<br>
.- Fiddlesticks Dulciniestro<br>
.- Por las Barbas de Fiddlesticks<br>
.- Fiddlesticks Pretoriano<br>
.- Fiddle Cabeza de Calabaza<br>
.- Fiddlesticks Resucitado<br>
.- Espectro de Fiddlesticks<br>
.- Fiddlesticks Fiesta Sorpresa<br>
.- Fiddlesticks Unión Jack<br>
.- Directora Fiora<br>
.- Fiora Rompecorazones<br>
.- Fiora Bestia Lunar<br>
.- Fiora Cuervo de la Noche<br>
.- PROYECTO: Fiora<br>
.- Fiora Veraniega<br>
.- Fiora Bestia Lunar Edición Prestigiosa<br>
.- Fiora Pulso de Fuego<br>
.- Fiora de la Guardia Real<br>
.- Fiora Espada Creciente<br>
.- Fiora iG<br>
.- Fizz Atlante<br>
.- Fizz Colita de Algodón<br>
.- Fizz Pescador<br>
.- Fizz Perrito<br>
.- Fizz Pequeño Demonio<br>
.- Fizz Escuadrón Omega<br>
.- Fizz Perrito Edición Prestigiosa<br>
.- Fizz Supergaláctico<br>
.- Fizz de la Tundra<br>
.- Fizz del Vacío<br>
.- Kikiri Galio<br>
.- Galio Comando<br>
.- Galio Gallardo<br>
.- Galio Embrujado<br>
.- Galio Cancerbero<br>
.- Galio Hextech<br>
.- Galio Infernal<br>
.- Capitán Gangplank<br>
.- Gangplank Nova Terrorífica<br>
.- Gangplank FPX<br>
.- Gangplank Miliciano<br>
.- Gangplank Veraniego<br>
.- Marinero Gangplank<br>
.- Gangplank de Fuerzas Especiales<br>
.- Gangplank Galeón Fantasma<br>
.- Sultán Gangplank<br>
.- Gangplank Soldado de Juguete<br>
.- Garen Comando<br>
.- Garen Demacia Vice<br>
.- Garen Soldado del Desierto<br>
.- Garen Caballero del Terror<br>
.- Garen Rey Divino<br>
.- Garen Reinos Mecha<br>
.- Garen Reinos Mecha Edición Prestigiosa<br>
.- Garen Almirante Bandolero<br>
.- Garen Tipo Duro<br>
.- Garen Sanguinario<br>
.- Garen de la Legión de Acero<br>
.- Garen Reinos en Guerra<br>
.- AstroGnar<br>
.- DinoGnar<br>
.- El León Gnar<br>
.- Finísimo Caballerito Gnar<br>
.- Gnar SSG<br>
.- Gnar Día Nevado<br>
.- Gnar Supergaláctico<br>
.- Gragas Operación Ártica<br>
.- Gragas Fnatic<br>
.- Gragas Rompebarriles<br>
.- Don Gragas<br>
.- Gragas Rural<br>
.- Gragas de Oktoberfest<br>
.- Gragas Papá Noel<br>
.- Gragas Buzo<br>
.- Gragas Hincha<br>
.- Gragas Vándalo<br>
.- Gragas Protector<br>
.- Graves Profesor de Combate<br>
.- Graves Ciudad del Crimen<br>
.- Graves Robavidas<br>
.- Graves Asesino a Sueldo<br>
.- Graves Fugitivo<br>
.- Graves Veraniego<br>
.- Graves Pretoriano<br>
.- Riot Graves<br>
.- Graves Día Nevado<br>
.- Graves Victorioso<br>
.- Hecarim de Arcadia<br>
.- Hecarim Caballero Sangriento<br>
.- Hecarim Caballería Cósmica<br>
.- Hecarim Bosqueviejo<br>
.- El Hecarim sin Cabeza<br>
.- Hecarim el Forajido<br>
.- Hecarim Lancero Z<br>
.- Hecarim Segador de Almas<br>
.- Hecarim Devorador de Mundos<br>
.- Heimerdinger Alienígena<br>
.- Heimerdinger Estallido<br>
.- Heimerdinger Entrenador de Dragones<br>
.- Heimerdinger Traje NBQ<br>
.- Heimerdinger Talleres Piltóver<br>
.- Heimerdinger Veraniego<br>
.- Nieverdinger<br>
.- Illaoi Invocadora Cósmica<br>
.- Illaoi Rebelde<br>
.- Illaoi Portadora del Vacío<br>
.- Irelia Aviadora<br>
.- Irelia Cuchillas Divinas<br>
.- Irelia Cuchillas de Hielo<br>
.- Irelia la Forajida<br>
.- Irelia Infiltradora<br>
.- Irelia Cuchilla Nurna<br>
.- Irelia de la Orden del Loto<br>
.- PROYECTO: Irelia<br>
.- PROYECTO: Irelia Edición Prestigiosa<br>
.- Irelia iG<br>
.- Ivern Rey de las Golosinas<br>
.- Ivern Rey de las Clavadas<br>
.- Ivern Bosqueviejo<br>
.- Janna Reina Guerrera<br>
.- Janna Embrujada<br>
.- Janna Fnatic<br>
.- Janna Reportera del Clima<br>
.- Janna Reina de Hielo<br>
.- Janna Guardiana de las Arenas<br>
.- Janna Hextech<br>
.- Janna Espada Sagrada<br>
.- Janna Guardiana Estelar<br>
.- Janna Tempestad<br>
.- Janna Victoriosa<br>
.- Jarvan IV Comando<br>
.- Jarvan IV Estrella Oscura<br>
.- Jarvan IV de Forja Oscura<br>
.- Jarvan IV Matadragones<br>
.- Jarvan IV Fnatic<br>
.- Jarvan IV Hextech<br>
.- Jarvan IV Bestia Lunar<br>
.- Jarvan IV Veraniego<br>
.- Jarvan IV SSG<br>
.- Jarvan IV Victorioso<br>
.- Jarvan IV Reinos en Guerra<br>
.- Jax Humilde Pescador<br>
.- Jax Báculo Divino<br>
.- Jaximus<br>
.- Jax Reinos Mecha<br>
.- Jax Némesis<br>
.- Jax PAX<br>
.- Jax SKT T1<br>
.- Jax del Templo<br>
.- El Poderoso Jax<br>
.- Jax Vándalo<br>
.- Jax Protector<br>
.- Jayce Academia de Combate<br>
.- Jayce Gallardo<br>
.- Jayce Abandonado<br>
.- Jayce Metalizado<br>
.- Jayce Martillo Brillante<br>
.- Jayce Rebelde<br>
.- Jhin Luna de Sangre<br>
.- Jhin Oscuridad Cósmica<br>
.- Jhin el Forajido<br>
.- PROYECTO: Jhin<br>
.- Jhin SKT T1<br>
.- Jhin Pergaminos Shan Hai<br>
.- Jinx Elfa Ambiciosa<br>
.- Jinx Ciudad del Crimen<br>
.- Jinx Explosiva<br>
.- Jinx Buscacorazones<br>
.- Jinx Odisea<br>
.- PROYECTO: Jinx<br>
.- Jinx Guardiana Estelar<br>
.- Jinx Ejecutora<br>
.- Kai'Sa de Arcadia<br>
.- Kai'Sa Ángel Exterminador<br>
.- Kai'Sa K/DA<br>
.- Kai'Sa K/DA ALL OUT<br>
.- Kai'Sa K/DA Edición Prestigiosa<br>
.- Kai'Sa K/DA ALL OUT Edición Prestigiosa<br>
.- Kai'Sa iG<br>
.- Kalista Luna de Sangre<br>
.- Kalista de Campeonato<br>
.- Kalista Merodeadora<br>
.- Kalista SKT T1<br>
.- Karma Conquistadora<br>
.- Karma Estrella Oscura<br>
.- Karma Portadora del Amanecer<br>
.- Karma Odisea<br>
.- Karma de la Orden del Loto<br>
.- Karma Arruinada<br>
.- Sakura Karma<br>
.- Karma Diosa Solar<br>
.- Karma Tradicional<br>
.- Karma Protectora<br>
.- Karma Maravilla Invernal<br>
.- Karthus Fnatic<br>
.- La Parca Karthus<br>
.- Karthus Infernal<br>
.- Karthus Maldición de la Luz<br>
.- Karthus Pentakill<br>
.- Karthus Fantasmal<br>
.- Estatua de Karthus<br>
.- Kassadin Segador Cósmico<br>
.- Conde Kassadin<br>
.- Kassadin de los Profundos<br>
.- Kassadin Festivo<br>
.- Kassadin Mensajero<br>
.- Kassadin Hextech<br>
.- Kassadin Antes del Vacío<br>
.- Katarina Academia de Combate<br>
.- Katarina Reina Guerrera<br>
.- Katarina de Aguasturbias<br>
.- Katarina Luna de Sangre<br>
.- Katarina Juramento Funesto<br>
.- Katarina del Alto Mando<br>
.- Katarina Minina<br>
.- Katarina Mercenaria<br>
.- PROYECTO: Katarina<br>
.- Katarina Tarjeta Roja<br>
.- Katarina Tormenta de Arena<br>
.- Katarina Belleza Mortal<br>
.- Katarina Reinos en Guerra<br>
.- Kayle Alas Etéreas<br>
.- Kayle Nacida para la Batalla<br>
.- Kayle la Inquisidora de Hierro<br>
.- Kayle Justiciera<br>
.- Kayle Pentakill<br>
.- Kayle PsyOps<br>
.- Riot Kayle<br>
.- Kayle de Plata<br>
.- Kayle Trascendida<br>
.- Kayle Desenmascarada<br>
.- Kayle de Viridián<br>
.- Kayn Odisea<br>
.- Kayn Cazador de Almas<br>
.- Kennen Operación Ártica<br>
.- Kennen Luna de Sangre<br>
.- Kennen Mortífero<br>
.- Kennen Infernal<br>
.- Karate Kennen<br>
.- Dor Kennen<br>
.- SuperKennen<br>
.- Kennen Maestro del Pantano<br>
.- Kha'Zix de Campeonato<br>
.- Kha'Zix Estrella Oscura<br>
.- Kha'Zix Pétalo Mortal<br>
.- Kha'Zix Guardián de las Arenas<br>
.- Kha'Zix Mecha<br>
.- Kha'Zix Odisea<br>
.- Kindred Fuego Sombrío<br>
.- Kindred Flor Espiritual<br>
.- Kindred Supergalácticos<br>
.- Conde Kledula<br>
.- Kled Merodeador<br>
.- Sir Kled<br>
.- Kog'Maw Arcanista<br>
.- Kog'Maw Blindaje Bélico<br>
.- pxBee'Maw<br>
.- Kog'Maw Oruga<br>
.- Kog'Maw de las Profundidades<br>
.- Kog'Maw Hextech<br>
.- Kog'Maw Jurásico<br>
.- Danza del León Kog'Maw<br>
.- Kog'Maw Monarca<br>
.- Pug'Maw<br>
.- Kog'Maw Reno<br>
.- Kog'Maw de Sonora<br>
.- LeBlanc de Campeonato<br>
.- LeBlanc Aquelarre<br>
.- LeBlanc Bosqueviejo<br>
.- LeBlanc Muérdago<br>
.- LeBlanc Ilusionista<br>
.- Programa LeBlanc<br>
.- LeBlanc Hija de los Cuervos<br>
.- LeBlanc Maligna<br>
.- LeBlanc iG<br>
.- Lee Sin Acólito<br>
.- Lee Sin Puño de Dragón<br>
.- Lee Sin FPX<br>
.- Lee Sin Puño de Dios<br>
.- Lee Sin KO<br>
.- Lee Sin Muay Thai<br>
.- Lee Sin Portador del Anochecer<br>
.- Lee Sin Delantero<br>
.- Lee Sin Veraniego<br>
.- Lee Sin Portador del Anochecer Edición Prestigiosa<br>
.- Lee Sin SKT T1<br>
.- Lee Sin Dragón de la Tormenta<br>
.- Lee Sin Tradicional<br>
.- Leona Parrillera<br>
.- Leona Defensora<br>
.- Leona Solari de Hierro<br>
.- Leona Eclipse Lunar<br>
.- Leona Reinos Mecha<br>
.- PROYECTO: Leona<br>
.- Leona Veraniega<br>
.- Leona Eclipse Solar<br>
.- Leona Valquiria<br>
.- Lillia Flor Espiritual<br>
.- Lissandra Reina de Dagas<br>
.- Lissandra Piedra de Sangre<br>
.- Lissandra Aquelarre<br>
.- Lissandra Oscuridad Cósmica<br>
.- Programa Lissandra<br>
.- Lucian Demacia Vice<br>
.- Lucian Buscacorazones<br>
.- Lucian el Forajido<br>
.- Lucian Asesino a Sueldo<br>
.- PROYECTO: Lucian<br>
.- Lucian Pulso de Fuego Edición Prestigiosa<br>
.- Lucian Pulso de Fuego<br>
.- Lucian Goleador<br>
.- Lucian Victoriosoespecial<br>
.- Lulu Agridulce<br>
.- Lulu Encantadora Cósmica<br>
.- Lulu Entrenadora de Dragones<br>
.- Lulu Pijama Estelar<br>
.- Lulu Veraniega<br>
.- Lulu Guardiana Estelar<br>
.- Lulu Maligna<br>
.- Lulu Maravilla Invernal<br>
.- Lux Academia de Combate<br>
.- Lux Comando<br>
.- Lux Cósmica<br>
.- Lux Oscuridad Cósmica<br>
.- Lux Elementalista<br>
.- Lux Imperial<br>
.- Lux Emperatriz Lunar<br>
.- Lux Pijama Estelar<br>
.- Lux Academia de Combate Edición Prestigiosa<br>
.- Brujita Lux<br>
.- Lux Ladrona de Hechizos<br>
.- Lux Guardiana Estelar<br>
.- Lux de la Legion de Acero<br>
.- Malphite de los Arrecifes<br>
.- Malphite Estrella Oscura<br>
.- Malphite FPX<br>
.- Malphite Glacial<br>
.- Malphite Coraza de Hierro<br>
.- Malphite de Marmol<br>
.- Malphite Mecha<br>
.- Malphite de Obsidiana<br>
.- Malphite Odisea<br>
.- Malphite Estrella Oscura Edición Prestigiosaspecial<br>
.- Malphite Trébol<br>
.- Malzahar Subjefe<br>
.- pxBeezahar<br>
.- Genio Malzahar<br>
.- Malzahar Hextech<br>
.- Malzahar Soberano<br>
.- Príncipe de las Sombras Malzahar<br>
.- Malzahar Día Nevado<br>
.- Visir Malzahar<br>
.- Malzahar Devorador de Mundos<br>
.- Maokai Carbonizado<br>
.- Maokai Festivo<br>
.- Maokai Guardavallas<br>
.- Maokai Embrujado<br>
.- Miaukai<br>
.- Maokai Totémico<br>
.- Maokai Victorioso<br>
.- Maokai Devorador de Mundos<br>
.- Maestro Yi Asesino<br>
.- Maestro Yi Luna de Sangre<br>
.- Yi el Elegido<br>
.- Maestro Yi Espada Cósmica<br>
.- Yi Espada Eterna<br>
.- Maestro Yi Cazador de Cabezas<br>
.- Maestro Yi de Jonia<br>
.- PROYECTO: Yi<br>
.- Maestro Yi PsyOps<br>
.- Samurái Yi<br>
.- Yi Muñeco de Nieve<br>
.- Miss Fortune de Arcadia<br>
.- Miss Fortune Embrujada<br>
.- Miss Fortune de Caramelo<br>
.- Capitana Fortune<br>
.- Miss Fortune Vaquera<br>
.- Miss Fortune Ciudad del Crimen<br>
.- Miss Fortune Gatillera Galáctica<br>
.- Miss Fortune Pijama Estelar<br>
.- Miss Fortune Veraniega<br>
.- Miss Fortune Embrujada Edición Prestigiosa<br>
.- Miss Fortune Guerrera del Camino<br>
.- Miss Fortune Agente Secreta<br>
.- Miss Fortune Guardiana Estelar<br>
.- Miss Fortune de Waterloo<br>
.- Mordekaiser Estrella Oscura<br>
.- Mordekaiser Caballero Dragón<br>
.- Mordekaiser Infernal<br>
.- Mordekaiser Rey de Bastos<br>
.- Lord Mordekaiser<br>
.- Mordekaiser Pentakill<br>
.- Morgana Embrujada<br>
.- Morgana Espina Negra<br>
.- Morgana Dama de Espadas<br>
.- Morgana Aquelarre<br>
.- Morgana Exiliada<br>
.- Morgana la Llorona<br>
.- Morgana Espectro Lunar<br>
.- Morgana Emperatriz Majestuosa<br>
.- Morgana Suculencia Pecaminosa<br>
.- Morgana Victoriosa<br>
.- Nami Destino Cósmico<br>
.- Nami de las Profundidades<br>
.- Nami Koi<br>
.- Programa Nami<br>
.- Nami Iara<br>
.- Nami SKT T1<br>
.- Nami Báculo Magnífico<br>
.- Urf el Namití<br>
.- Archiduque Nasus<br>
.- Nasus Blindaje Bélico<br>
.- Nasus Caballero del Terror<br>
.- Nasus Galáctico<br>
.- Nasus Infernal<br>
.- Nasus Guardián Lunar<br>
.- Faraón Nasus<br>
.- Riot Nasus K<br>
.- Nasus Devorador de Mundos<br>
.- Nautilus Abisal<br>
.- AstroNautilus<br>
.- Nautilus Conquistador<br>
.- Nautilus Pergaminos Shan Hai<br>
.- Nautilus Subterráneo<br>
.- Nautilus Protector<br>
.- Nautilus Devorador de Mundos<br>
.- Neeko Guardiana Estelar Edición Prestigiosa<br>
.- Neeko Pergaminos Shan Hai<br>
.- Neeko Guardiana Estelar<br>
.- Neeko Maravilla Invernal<br>
.- Nidalee Embrujada<br>
.- Nidalee Retadora<br>
.- Nidalee Cazadora Cósmica<br>
.- Nidalee Portadora del Amanecer<br>
.- Nidalee Mon Amour<br>
.- Nidalee Cazadora de Cabezas<br>
.- Nidalee Leopardo<br>
.- Faraona Nidalee<br>
.- Nidalee Conejita Invernal<br>
.- Nidalee Supergaláctica<br>
.- Nidalee Reinos en Guerra<br>
.- Nurne El Renacido Maldito<br>
.- Nurne Bosqueviejo<br>
.- Nurne Eternum<br>
.- Nurne Terror Frío<br>
.- Nurne Embrujado<br>
.- Nurne Hextech<br>
.- Nurne Asolador<br>
.- Nurne del Vacío<br>
.- Nunu y Willump Demoledor<br>
.- Nunu y Willump Gruñón<br>
.- Nunu y Willump Bot<br>
.- Nunu y Willump Arte de Papel<br>
.- Nunu y Willump Pie Grande<br>
.- Nunu y Willump TPA<br>
.- Nunu y Willump del Taller de Santa<br>
.- Nunu y Willump Zombi<br>
.- Brolaf<br>
.- Olaf Carnicero<br>
.- Olaf Matadragones<br>
.- Olaf Abandonado<br>
.- Olaf Glacial<br>
.- Olaf Merodeador<br>
.- Olaf Pentakill<br>
.- Olaf SKT T1<br>
.- Orianna Artificio Mortal<br>
.- Orianna Estrella Oscura<br>
.- Orianna Gótica<br>
.- Orianna Buscacorazones<br>
.- Orianna Veraniega<br>
.- Orianna Costura del Caos<br>
.- Orianna TPA<br>
.- Orianna Victoriosa<br>
.- Orianna Maravilla Invernal<br>
.- Ornn Bosqueviejo<br>
.- Ornn Señor del Trueno<br>
.- Pantheon Panadero<br>
.- Pantheon Matadragones<br>
.- Pantheon Metalizado<br>
.- Pantheon Espada Guerrera<br>
.- Pantheon Mirmidón<br>
.- Perseo Pantheon<br>
.- Pantheon Pulso de Fuego<br>
.- Pantheon Indomable<br>
.- Pantheon Ejecutor<br>
.- AstroPoppy<br>
.- Poppy Armadura Reluciente<br>
.- Poppy la Herrera<br>
.- Poppy Hextech<br>
.- Poppypaleta<br>
.- Poppy de Noxus<br>
.- Poppy Muñeca de Trapo<br>
.- Poppy Martillo Escarlata<br>
.- Poppy Reno Bebé<br>
.- Poppy Guardiana Estelar<br>
.- Pyke Luna de Sangre<br>
.- PROYECTO: Pyke<br>
.- Pyke PsyOps<br>
.- Pyke Espectro de las Arenas<br>
.- Qiyana Subjefe<br>
.- Qiyana Reina Guerrera<br>
.- Qiyana True Damage Edición Prestigiosa<br>
.- Qiyana True Damage<br>
.- Quinn Corsaria<br>
.- Quinn Buscacorazones<br>
.- Quinn Fénix<br>
.- Quinn Protectora<br>
.- Quinn Exploradora Woad<br>
.- Rakan Alba Cósmica<br>
.- Rakan Bosqueviejo<br>
.- Rakan SSG<br>
.- Rakan Guardián Estelar<br>
.- Rakan Cariñosito<br>
.- Rakan iG<br>
.- Rammus de Cromo<br>
.- Rammus del Fréljord<br>
.- Rammus Metalizado<br>
.- Rammus Guardián de las Arenas<br>
.- Rammus Hextech<br>
.- Rey Rammus<br>
.- Rammus Fundido<br>
.- Rammus Ninja<br>
.- Rammus Cañonazo<br>
.- Rek'Sai Escarcha Negra<br>
.- Rek'Sai Eternum<br>
.- Rek'Sai Veraniega<br>
.- Rell Reina Guerrera<br>
.- Renekton Escarcha Negra<br>
.- Renekton Furiasangre<br>
.- Renekton Galáctico<br>
.- Renekton Hextech<br>
.- Renekton de los Yermos<br>
.- Renekton Veraniego<br>
.- Renekton Prehistórico<br>
.- Renekton Figura de Acción<br>
.- Renekton de las Guerras Rúnicas<br>
.- Renekton SKT T1<br>
.- Renekton de Tierra Calcinada<br>
.- Rengar Guardián de las Arenas<br>
.- Rengar Cazador de Cabezas<br>
.- Rengar Mecha<br>
.- Rengar Cazador Nurno<br>
.- Rengar Gatito Miau<br>
.- Rengar SSW<br>
.- Riven de Arcadia<br>
.- Riven Conejita Guerrera<br>
.- Riven de Campeonato<br>
.- Riven de Campeonato <br>
.- Riven Élite Carmesí<br>
.- Riven Portadora del Amanecer<br>
.- Riven Espadragón<br>
.- Riven Espada Valiente Edición Prestigiosa<br>
.- Riven Pulso de Fuego<br>
.- Riven Redimida<br>
.- Riven Flor Espiritual<br>
.- Riven Espada Valiente<br>
.- Rumble Barón del Yermo<br>
.- Rumble de Aguasturbias<br>
.- Rumble de la Jungla<br>
.- Rumble Supergaláctico<br>
.- Ryze de Campeonato<br>
.- Ryze Cristal Oscuro<br>
.- Ryze Guardián de las Arenas<br>
.- Pirata Ryze<br>
.- Profesor Ryze<br>
.- Ryze Barbablanca<br>
.- Ryze SKT T1<br>
.- Ryze Tribal<br>
.- Ryze Triunfante<br>
.- Tío Ryze<br>
.- Ryze Joven<br>
.- Zombi Ryze<br>
.- Samira PsyOps<br>
.- Sejuani Caballería Ursina<br>
.- Sejuani Cazadora de Bestias<br>
.- Sejuani Jinete Oscura<br>
.- Sejuani Explosiva<br>
.- Sejuani Hextech<br>
.- Sejuani Jinete de Poros<br>
.- Sejuani Colmillos de Sable<br>
.- Sejuani Cazadora del Amanecer<br>
.- Sejuani Tradicional<br>
.- Senna la Forajida<br>
.- Senna True Damage Edición Prestigiosa<br>
.- Senna True Damage<br>
.- Seraphine K/DA ALL OUT Indie<br>
.- Seraphine K/DA ALL OUT Estrella Ascendenteespecial<br>
.- Seraphine K/DA ALL OUT Superestrellaespecial<br>
.- Sett Reinos Mecha<br>
.- Sett Dragón de Obsidiana<br>
.- Sett Dragón de Obsidiana Edición Prestigiosa<br>
.- Shaco Arcanista<br>
.- Shaco de Atar<br>
.- Shaco Estrella Oscura<br>
.- El Sombrerero Shaco<br>
.- Shaco Enmascarado<br>
.- El Shascanueces<br>
.- Shaco del Palacio Real<br>
.- Shaco Comodín<br>
.- Shaco de Juguete<br>
.- Shen Luna de Sangre<br>
.- Shen Frío<br>
.- Shen Infernal<br>
.- Shen PsyOps<br>
.- Shen Pulso de Fuego<br>
.- Cirujano Shen<br>
.- Shen TPA<br>
.- Shen Señor de la Guerra<br>
.- Shen Amarillo<br>
.- Shyvana Garras de Hueso<br>
.- Shyvana de Campeonato<br>
.- Shyvana Llama Oscura<br>
.- Shyvana Dragón de Hielo<br>
.- Shyvana Escamas de Hierro<br>
.- Shyvana Arruinada<br>
.- Shyvana Supergaláctica<br>
.- Singed Mejorado<br>
.- Singed Apicultor<br>
.- Singed la Plaga Negra<br>
.- Singed Hextech<br>
.- Singed Científico Loco<br>
.- Singed Rebelde<br>
.- Singed del Escuadrón Riot<br>
.- Singed SSW<br>
.- Singed Día Nevado<br>
.- Singed Surfista<br>
.- Sion el Bárbaro<br>
.- Sion Hextech<br>
.- Sion Leñador<br>
.- Sion Mecha Zero<br>
.- Sion Belicista<br>
.- Sion Devorador de Mundos<br>
.- Sivir Bandida<br>
.- Sivir Luna de Sangre<br>
.- Sivir Cazadora<br>
.- Sivir Neo PAX<br>
.- Sivir Odisea<br>
.- Sivir PAX<br>
.- Pizzivir<br>
.- Sivir Tormenta de Nieve<br>
.- Sivir Espectacular<br>
.- Sivir Victoriosa<br>
.- Sivir Protectora<br>
.- Sivir Princesa Guerrera<br>
.- Skarner Blindaje Alfa<br>
.- Skarner Aguijón Cósmico<br>
.- Skarner Runa de Tierra<br>
.- Skarner Guardián de las Arenas<br>
.- Skarner Azote de las Arenas<br>
.- Sona de Arcadia<br>
.- DJ Sona<br>
.- Guqin Sona<br>
.- Sona Musa<br>
.- Sona Odisea<br>
.- Sona Pentakill<br>
.- Sona PsyOps<br>
.- Sona Noche de Paz<br>
.- Sona Cariñosita<br>
.- Soraka Celestial<br>
.- Soraka Portadora del Amanecer<br>
.- Soraka Divina<br>
.- Soraka Dríade<br>
.- Soraka Portadora del Anochecer<br>
.- Soraka Orden de la Banana<br>
.- Soraka Pijama Estelar<br>
.- Soraka Guardiana Estelar Edición Prestigiosaespecial<br>
.- Programa Soraka<br>
.- Soraka Segadora de Almas<br>
.- Soraka Guardiana Estelar<br>
.- Soraka Maravilla Invernal<br>
.- Swain de Aguasturbias<br>
.- Swain Rosa de Cristal<br>
.- Swain Amo de los Dragones<br>
.- Swain Hextech<br>
.- Swain Frente Nórdico<br>
.- Swain Tirano<br>
.- Sylas del Fréljord<br>
.- Sylas Espectro Lunar<br>
.- Syndra Atlante<br>
.- Syndra Justiciera<br>
.- Syndra Veraniega<br>
.- Syndra Reina de Diamantes<br>
.- Syndra SKT T1<br>
.- Syndra Día Nevado<br>
.- Syndra Guardiana Estelar<br>
.- Syndra Rosa Marchita<br>
.- Tahm Kench Emperador de la Fortuna<br>
.- Tahm Kench Master Chef<br>
.- Urf Kench<br>
.- Taliyah del Fréljord<br>
.- Taliyah Veraniega<br>
.- Taliyah SSG<br>
.- Talon Luna de Sangre<br>
.- Talon Élite Carmesí<br>
.- Talon Espadragón<br>
.- Talon Filo Perpetuo<br>
.- Talon Renegado<br>
.- Talon SSW<br>
.- Talon del Bosque Negro<br>
.- Talon Rosa Marchita<br>
.- Taric de la Quinta Era<br>
.- Taric Piedra de Sangre<br>
.- Taric Esmeralda<br>
.- Taric Veraniego<br>
.- Taric Paladín Radiante<br>
.- AstroTeemo<br>
.- Teemo Tejón<br>
.- Teemo Abejorro<br>
.- Teemo Colita de Algodón<br>
.- Teemo Elfo Feliz<br>
.- Pequeño Teemonio<br>
.- Teemo Escuadrón Omega<br>
.- Teemo Osito Panda<br>
.- Teemo Flor Espiritual Edición Prestigiosa<br>
.- Teemo Explorador<br>
.- Teemo Flor Espiritual<br>
.- SuperTeemo<br>
.- Thresh Luna de Sangre<br>
.- Thresh de Campeonato<br>
.- Thresh Estrella Oscura<br>
.- Thresh Terror Pofundo<br>
.- Thresh FPX<br>
.- Thresh el Forajido<br>
.- Thresh Pulso de Fuego Edición Prestigiosa<br>
.- Thresh Pulso de Fuego<br>
.- Thresh SSW<br>
.- Thresh Flor Espiritual<br>
<h4>Campeon: </h4>
.- Tristana Embrujada<br>
.- Tristana Bucanera<br>
.- Tristana Entrenadora de Dragones<br>
.- Tristana Elfa Buena<br>
.- Tristana Bomberita<br>
.- Tristana Guerrillera<br>
.- Tristana Pequeña Demonio<br>
.- Tristana Escuadrón Omega<br>
.- Tristana Cosplay Pengu<br>
.- Tristana Chica Riot<br>
.- Tristana Chica Cohete<br>
<h4>Campeon: </h4>
.- Agente Trundle<br>
.- Trundle Matadragones<br>
.- Trundle Chatarra<br>
.- Trundle Ligas Menores<br>
.- Trundle Tradicional<br>
.- Trundle Devorador de Mundos<br>
<h4>Campeon: </h4>
.- Tryndamere Cazador de Bestias<br>
.- Tryndamere Luna de Sangre<br>
.- Tryndamere Tecnoquímica<br>
.- Tryndamere Espademonium<br>
.- Tryndamere el Inmortal<br>
.- Rey Tryndamere<br>
.- Pesadilla Tryndamere<br>
.- Sultán Tryndamere<br>
.- Tryndamere Vikingo<br>
.- Tryndamere Reinos en Guerra<br>
<h4>Campeon: </h4>
.- Twisted Fate Luna de Sangre<br>
.- Twisted Fate Robacarteras<br>
.- Twisted Fate el Forajido<br>
.- Twisted Fate Sota de Corazones<br>
.- Twisted Fate Mosquetero<br>
.- Twisted Fate Odisea<br>
.- Twisted Fate PAX<br>
.- Twisted Fate Pulso de Fuego<br>
.- Twisted Fate Tarjeta Roja<br>
.- Twisted Fate Tanguero<br>
.- Twisted Fate el Magnífico<br>
.- Twisted Fate del Inframundo<br>
<h4>Campeon: </h4>
.- Twitch Ciudad del Crimen<br>
.- Twitch Rey del Hielo<br>
.- El Jefe Twitch<br>
.- Twitch Medieval<br>
.- Twitch Escuadrón Omega<br>
.- Twitch Robacarteras<br>
.- Twitch SSW<br>
.- Twitch Zancasmudas<br>
.- Twitch Vándalo<br>
.- Twitch de Whistler Village<br>
<h4>Campeon: </h4>
.- Udyr Cinta Negra<br>
.- Este no es Udyr<br>
.- Udyr Oráculo Dragón<br>
.- Udyr Primigenio<br>
.- Udyr Guardián de Espíritus<br>
<h4>Campeon: </h4>
.- Urgot Blindaje Bélico<br>
.- Urgot Carnicero<br>
.- Crabgot Enemigo Gigante<br>
.- Urgot el Forajido<br>
.- Urgot Cosplay Pijama Estelar<br>
<h4>Campeon: </h4>
.- Varus Arco de Luz<br>
.- Varus Operación Ártica<br>
.- Varus Cristal Maldito<br>
.- Varus Conquistador<br>
.- Varus Cazador Cósmico<br>
.- Varus Estrella Oscura<br>
.- Varus Buscacorazones<br>
.- Varus Infernal<br>
.- Varus Rayo Veloz<br>
<h4>Campeon: </h4>
.- Vayne Arco de Luz<br>
.- Vayne Aristócrata<br>
.- Vayne Matadragones<br>
.- Vayne FPX<br>
.- Vayne Explosiva<br>
.- Vayne Buscacorazones<br>
.- PROYECTO: Vayne<br>
.- Vayne Explosiva Edición Prestigiosa<br>
.- Vayne SKT T1<br>
.- Vayne Robaalmas<br>
.- Vayne Flor Espiritual<br>
.- Vayne Vengadora<br>
<h4>Campeon: </h4>
.- Veigar Santa Malo<br>
.- Baron Von Veigar<br>
.- Veigar Jugador de Curling<br>
.- Veigar Bosqueviejo<br>
.- Veigar Jefe Final<br>
.- Veigar Cosplay Furicuerno<br>
.- Veigar Duende Irlandes<br>
.- Veigar Escuadrón Omega<br>
.- Veigar Villano Soberbio<br>
.- Veigar Barbagrís<br>
.- Veigar Hechicero Blanco<br>
<h4>Campeon: </h4>
.- Vel'Koz Arco de Luz<br>
.- Vel'Koz Blindaje Bélico<br>
.- Este no es Vel'Koz<br>
.- Vel'Koz Infernal<br>
<h4>Campeon: </h4>
.- Vi Galante<br>
.- Vi Demoníaca<br>
.- Vi Rompecorazones<br>
.- Vi Golpe de Neón<br>
.- Oficial Vi<br>
.- PROYECTO: Vi<br>
.- Vi PsyOps<br>
.- Vi Reinos en Guerra<br>
<h4>Campeon: </h4>
.- Viego Bestia Lunar<br>
<h4>Campeon: </h4>
.- Viktor el Creador<br>
.- Viktor Juramento Funesto<br>
.- Viktor Mecanizado<br>
.- Viktor Prototipo<br>
.- Viktor PsyOps<br>
<h4>Campeon: </h4>
.- Vladimir Academia<br>
.- Vladimir Señor de la Sangre<br>
.- Vladimir Devorador Cósmico<br>
.- Conde Vladimir<br>
.- Vladimir Aguas Oscuras<br>
.- Marqués Vladimir<br>
.- Vladimir Portador del Anochecer<br>
.- Vladimir Nosferatu<br>
.- Vladimir Robaalmas<br>
.- Vladimir Vándalo<br>
<h4>Campeon: </h4>
.- Capitán Volibear<br>
.- El Rayo Volibear<br>
.- Volibear Tormenta del Norte<br>
.- Volibear Guardián Rúnico<br>
.- Oso de Mil Batallas<br>
.- Volibear Señor del Trueno<br>
<h4>Campeon: </h4>
.- El Warwick Feroz<br>
.- Warwick Salvaje<br>
.- Warwick Colmillo de Fuego<br>
.- Warwick Grís<br>
.- Warwick Hiena<br>
.- Warwick Guardián Lunar<br>
.- Warwick Merodeador<br>
.- PROYECTO: Warwick<br>
.- Warwick Cazador de la Tundra<br>
.- Urf el Manatí<br>
.- Urfwick<br>
<h4>Campeon: </h4>
.- General Wukong<br>
.- Wukong Dragón de Jade<br>
.- Wukong Lancero del Nimbo<br>
.- Wukong Radiante<br>
.- Wukong del Inframundo<br>
.- Wukong Volcánico<br>
<h4>Campeon: </h4>
.- Xayah Ocaso Cósmico<br>
.- Xayah Bosqueviejo<br>
.- Xayah SSG<br>
.- Xayah Guardiana Estelar<br>
.- Xayah Cariñosita<br>
<h4>Campeon: </h4>
.- Xerath Blindaje Bélico<br>
.- Xerath Estrella Oscura<br>
.- Xerath Guardián de las Arenas<br>
.- Xerath Hijo de las Runas<br>
.- Xerath de Tierra Calcinada<br>
<h4>Campeon: </h4>
.- Xin Zhao Comando<br>
.- Xin Zhao Defensor Cósmico<br>
.- Xin Zhao Matadragones<br>
.- Xin Zhao Imperial<br>
.- Xin Zhao Merodeador<br>
.- Xin Zhao Agente Secreto<br>
.- Xin Zhao Viscero<br>
.- Xin Zhao Reinos en Guerra<br>
.- Xin Zhao Húsar Alado<br>
<h4>Campeon: </h4>
.- Yasuo Subjefe<br>
.- Yasuo Luna de Sangre<br>
.- Yasuo el Forajido<br>
.- Yasuo Portador del Anochecer<br>
.- Yasuo Odisea<br>
.- PROYECTO: Yasuo<br>
.- Yasuo True Damage Edición Prestigiosa<br>
.- Yasuo Flor Espiritual<br>
.- Yasuo True Damage<br>
<h4>Campeon: </h4>
.- Yone Flor Espiritual<br>
<h4>Campeon: </h4>
.- Yorick Arco de Luz<br>
.- Miaurick<br>
.- Yorick Pentakill<br>
.- Yorick Rebelde<br>
.- Yorick Enterrador<br>
<h4>Campeon: </h4>
.- Yuumi Directora de Combate<br>
.- Yuumi Buscacorazones<br>
.- pxYuubee<br>
<h4>Campeon: </h4>
.- Zac Blindaje Bélico<br>
.- Zac Veraniego<br>
.- Zac SKT T1<br>
.- Zac Arma Especial<br>
<h4>Campeon: </h4>
.- Zed de Campeonato<br>
.- Zed Juramento Funesto<br>
.- Zed Exterminador Galáctico<br>
.- PROYECTO: Zed<br>
.- Zed PsyOps<br>
.- Zed SKT T1<br>
.- Zed Filo Relámp<br>
<h4>Campeon: </h4>
.- Ziggs Subjefe<br>
.- Ziggs Hextech<br>
.- Ziggs Científico Loco<br>
.- Comandante Ziggs<br>
.- Ziggs Maestro Taumaturgo<br>
.- Ziggs Odisea<br>
.- Ziggs Veraniego<br>
.- Ziggs Día Nevado<br>
.- Ziggs Pastelillo<br>
<h4>Campeon: </h4>
.- Zilean Luna de Sangre<br>
.- Zilean Buena Onda<br>
.- Viejito Zilean Pascuero<br>
.- Zilean Desierto Shurimano<br>
.- Zilean Reloj de Galleta<br>
.- Zilean Viajero del Tiempo<br>
<h4>Campeon: </h4>
.- Zoe Arcanista<br>
.- Zoe Ciber Pop<br>
.- Zoe Veraniega<br>
.- Zoe Arcanista Edición Prestigiosa<br>
.- Zoe Guardiana Estelar<br>
<h4>Campeon: </h4>
.- Zyra Aquelarre<br>
.- Zyra Rosa de Cristal<br>
.- Zyra Hechicera de Dragones<br>
.- Zyra Embrujada<br>
.- Zyra Aquelarre Edición Prestigiosa<br>
.- Zyra SKT T1<br>
.- Zyra Fuego Salvaje<br>